
<head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <img src="./assets/img/2.jpg" class="rounded-circle">
                </div>
                    <div class="col">
            <h1>The Second Heading Is Pretty Cool Too
            </h1>
            <h4>The computer is the data-based electronic machine initially invented by Charles Babbage back in 1837. He is called the “Father of computer”. With the computer’s discovery, man has entered a new period of improvement. In this modern era, lives would be impossible without owning a computer. A computer provides us with a wide range of possibilities, and there is an infinite number of things that can be done with the help of a computer.
            </H4>
                </DIV>
            </div>
        </div>
   
